/******** STYLIZING ALL THE ELEMENTS. POSITIONAL STUFF, STYLE PROPERTIES, ETC*************/

/******************************** MAIN MENU *******************************/

#mainMenu {
	position: relative;
	margin: auto;
	border: 1px solid #000;
	width: 1000px;
	height: 600px;
	font-family: courier;
}

#title {
	top:100px;
	vertical-align:50px;
	margin-left: 240px;	
	
}

#startNew {
	margin-left: 420px;
	width:220px;
	height:50px;
	
}

#loadSaves {
	margin-left: 420px;	
	width:220px;
	height:50px;
	
}
/******************************** Save Screen *******************************/
#saveMenu {
	position: relative;
	margin: auto;
	border: 1px solid #000;
	width: 1000px;
	height: 600px;
	font-family: courier;
	text-align:center;
	vertical-align:middle;
}

#inputLoadName {
	vertical-align:middle;
}

#displayStats {
	vertical-align:middle;
}

#loadGame {
	vertical-align:middle;
}

#delGame {
	vertical-align:middle;
}

/******************************** SAVE MENU *******************************/

#saveMenu {
	position: relative;
	margin: auto;
	border: 1px solid #000;
	width: 1000px;
	height: 600px;
	font-family: courier;
	text-align: center;
}

/************************** CHARACTER CUSTOMIZATION AND INIT**************************************/
#beginCanvas {
	position: relative;
	margin: auto;
	border: 1px solid #000;
	width: 1000px;
	height: 600px;
	font-family: courier;
}

#welcome {
	font-family: courier;
	text-align: center;
	top:200px;
	vertical-align: middle;
}

#rec {
	font-size: 12px;	
}

#input1 {
	margin-left: 20px;
	top: 200px;
	
}

#picChoose {
	position: absolute;
	text-align: center;
	font-family: courier;
	width:1000px;
	height:600px;
}


#picMale {
	width: 100px;
	height:100px;
	position: absolute;
	left: 380px;
	top: 200px;
	border: 1px solid #000;
	
}


#picFem {
	width: 100px;
	height:100px;
	position: absolute;
	left: 505px;
	top: 200px;
	border: 1px solid #000;

}
/*
input#playName:focus {
	font-family:courier;
	outline: none;
}
*/

#nameShow {
	margin-left: 400px;
	top: 30px;
	font-family: courier;
	
}

#playerCard {
	background-color: #5C5C5C;
	margin-left: 300px;
	font-family: courier;
	font-size: 24px;
	
}

#nameSpace {
	font-family: courier;
	
	
}

#confirm {
	font-family: courier;
	margin-left: 340px;
}

#enter {
	width: 220px;
	height: 80px;
	margin-left: 390px;
}


/************** ONCE GAME BEGINS *******************/
/********* THIS SHOULD BE THE BOUNDARIES OF THE GAME *********/

#gameCanvas {
    position: relative;
    margin: auto;
    border: 1px solid #000;
    width: 1000px;
    height: 600px;
}

#workSpace {
	background-image: url("http://i.imgur.com/Klfzigd.jpg");
	position:absolute;
	background-repeat: no-repeat;
    margin-left:330px;
    height:540px;
    width:670px;	
    background-position:center;
}


/*basically makes it so you cant highlight stuff*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#back {
	width:40px;
	height:40px;
	
}

#back1 {
	width:40px;
	height:40px;
	
}

/*the bar at the bottom of the screen with the icons*/

#toolbar {
    z-index: 1000;
    background:#fff;
    position: absolute;   
    width: 669px;
    height: 60px;
    top:540px;
    border: 1px solid #000;
    left:330px;
   }
   
   #cdiv {
		position: absolute;
		top: -1px;
		width: 168px;
		height: 60px;
		left: 500px;
		border: 1px solid #000;
	}

.icons {

}


/********* MESSAGE AND ITS PROPERTIES (NOW DATABASE)**************************/
#messageIcon {
    position:absolute;
    width:95px;
    height:50px;
    left:30px;
    top:10px;
}


#messagePopUp {
    position:absolute;
    background: #eee;
    width:450px;
    height:400px;
    border:1px solid #333;
    margin-left:330px;
    font-family: "courier new";
    z-index:50;
    overflow: hidden;
    /*z-index: 9002;*/
}

#messagePopUp:hover {
    cursor: pointer;
}

#messageX {
    width:40px;
    height:40px;
    position: absolute;
    right:7px;
    top:7px;
}

#personPic {
	width:150px;	
	height:150px;
}

/********* TERMINAL AND ITS PROPERTIES *********************/
#terminalIcon {
    position:absolute;
    width:40px;
    height:40px;
    left: 140px;
    top:10px;
}


#terminalPopUp {
    position:absolute;
    background: #eee;
    width:600px;
    height:500px;
    border:1px solid #333;
    margin-left:330px;
    font-family: "courier new";
       	z-index:50;
    /*z-index: 9002;    */
}
	
	#hackDiv {
		position: absolute;
		top: 100px;
		left: -1px;
		width: 600px;
		height: 400px;
	}
	
#terminalPopUp:hover {
    cursor: pointer;
}



#terminalX {
    width:40px;
    height:40px;
    position: absolute;
    right:7px;
    top:7px;
}

/**********TARGET POPUP***********************/


#targetPopUp {
    position:absolute;
    background: #eee;
    width:300px;
    height:250px;
    border:1px solid #333;
    margin-left:330px;
    font-family: "courier new";
   	z-index:50;
}



#targetPopUp:hover {
    cursor: pointer;
}



#targetX {
    width:40px;
    height:40px;
    position: absolute;
    right:7px;
    top:7px;
}


/********* IP HACK INIT (Type in this to begin hack) *********************/

#ipPopUp {
    position:absolute;
    background: #eee;
    width:600px;
    height:500px;
    border:1px solid #333;
    margin-left:330px;
    font-family: "courier new";
   	z-index:50;
   	overflow:hidden;
}



#ipPopUp:hover {
    cursor: pointer;
}



#ipX {
    width:40px;
    height:40px;
    position: absolute;
    right:7px;
    top:7px;
}




/********* SIDEBAR / EMAILS *********************/

#playerID {
	position:absolute;
	background-color: #5C5C5C;
	font-family: courier;
	font-size: 24px;
	
}

#sidebar {
    position: relative;
    width: 329px;
    height: 400px;   
    border: 1px solid #000;
    overflow: hidden;
    top:200px;
}

.email {
    border: 1px solid #000;
    position: relative;
    height:80px;
    width:290px;
    margin-top:5px;
    margin-bottom:5px;
}

.page {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    height: 100%;
    width: 310px;
    border: 1px solid #000;
    font-family: "courier new";
    text-align: justify;
}

.search {
	overflow: auto;
    background: #eee;
	width : 100%;
	height: 100%;
	position: relative;
}

/*.popUp {
    position: absolute;
    font-family: "courier new";
    z-index:10;
}*/

/************************** DAY PROGRESSION **************************************/

#dayEndCanvas {
	position: relative;
	margin: auto;
	border: 1px solid #000;
	width: 1000px;
	height: 600px;
	font-family: courier;
}
	
#inputSaveName {
	margin-left: 20px;
	top: 200px;
	
}

#willSave {
	margin-left: 0px;
	width:120px;
	height:50px;
}

#noSave {
	margin-left: 220px;	
	width:120px;
	height:50px;
}

